<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Train" value="D:\user\nyang\dptoolkit\data\train.autotag.malt"/>
    <add key="Heldout" value="D:\user\nyang\dptoolkit\data\dev.autotag.malt"/>
    <add key="Model" value="D:\user\nyang\dptoolkit\model\parser.wsj.SRLR.b1.bo.model"/>
    <add key="TestDir" value="D:\users\nanyang\++++treebank\English\stanford-converted-new\nyatok\test"/>
    <add key="TestLog" value="D:\user\nyang\dptoolkit\lrparser.b1.o1.report.txt"/>
    
    <add key="BeamSize" value="1"/>
    <add key="UpdateThreshold" value="5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
