<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <add key="TrainDataDir" value="D:\users\nanyang\++++treebank\English\stanford-converted-new\nyatok\train"/>

    <add key="DevDataDir" value="D:\users\nanyang\++++treebank\English\stanford-converted-new\nyatok\dev" />

    <add key="TestDataDir" value="D:\users\nanyang\++++treebank\English\stanford-converted-new\nyatok\test"/>
    
    <add key="WordCluster" value=""/>

    <add key="LCWordCluster" value="D:\user\nyang\wiki\en\wiki.c.1024.txt"/>

    <add key="ObserveGen" value="D:\user\nyang\deppar\model\tag.observGen.txt"/>
    <add key="FeatureFile" value="D:\user\nyang\deppar\model\zpos.feat.txt"/>
    <add key="WordCutoff" value="5"/>
    <add key="WordTagDictCutoff" value="5" />
    <add key="ModelVocabCutoff" value="1"/>

    <add key="ModelHead" value="D:\user\nyang\deppar\model\tag.modelhead.txt"/>
    <add key="OutputDataDir" value="D:\user\nyang\dptoolkit"/>
    <add key="OutputFile" value="D:\users\nanyang\++++treebank\English\stanford-converted\wsj.23.autotag.malt" />
    <add key="OutputFileDev" value="D:\users\nanyang\++++treebank\English\stanford-converted\wsj.22.autotag.malt" />
    <add key="TestLog" value="D:\user\nyang\dptoolkit\pos.test.log"/>
    
    <add key="Model" value="\\engkoo-007\SMT_Sharing\dptoolkit\model\tag.b5.all.model"/>

    <add key="BeamSize" value="5"/>
    <add key="UpdateThreshold" value="5" />
    <add key="NFold" value="0"/>
    <add key="FoldNum" value="9"/>
    
  </appSettings>
</configuration>