<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ParseData" value="D:\users\nanyang\+++++parser\stanford-parser\stanford-parser-2012-03-09\output\CTB.gb.seg.utf8.malt"/>
    <add key="OutputFile" value="D:\users\nanyang\+++++parser\stanford-parser\stanford-parser-2012-03-09\output\CTB.gb.seg.tree"/>
    <add key="SingleLineMalt" value="1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
